- content_for :head do
  = javascript_include_tag 'schedules'
= form_for @schedule, :validate => true do |f|
  = errors_for @schedule, :as => :reminder
  .field.w60
    = f.label :titleapp, _("Title")
    = f.text_field :title, :class => "causesPendingSaveNoticeOnChange"
  .field.w60
    = f.label :keyword, _("Keyword")
    %p Users will register with this keyword
    = f.text_field :keyword, :class => "causesPendingSaveNoticeOnChange"
  .field
    = f.label :welcome_message, _("Welcome message")
    %p This is the message users will get after they successfully registered
    .w60
      = f.text_area :welcome_message,                          |
        :rows => 3,                                            |
        :class => "causesPendingSaveNoticeOnChange ux-wajbar", |
        :placeholder => _('Write your welcome message here'),  |
        :maxlength => 160    
  .field
    = f.label :timescale, _("Timescale")
    %p Choose timescale reference to use
    .ux-dropdown.w20.inline
      = f.select :timescale, Schedule.time_scale_options, {}, :class => "causesPendingSaveNoticeOnChange"
  .field
    %label Mode
    %p
      = _("Choose whether you want to set up a timeline for your messages or call them randomly")
      = _("(Only available if there are no subscribers)") unless (@schedule.schedule.nil? or @schedule.schedule.subscribers.empty?)
    = f.radio_button :type,                               |
      "FixedSchedule",                                    |
      :id => "fixed_schedule_option",                     |
      :class => "causesPendingSaveNoticeOnChange styled", |
      :disabled => !(@schedule.schedule.nil? or @schedule.schedule.subscribers.empty?)          |

    = f.label :type, FixedSchedule.mode_in_words, :class => 'radio'
    %br/
    = f.radio_button :type,                               |
      "RandomSchedule",                                   |
      :id => "random_schedule_option",                    |
      :class => "causesPendingSaveNoticeOnChange styled", |
      :disabled => !(@schedule.schedule.nil? or @schedule.schedule.subscribers.empty?),         |
      'data-message' => _("Random Once")                  |
    = f.label :type, RandomSchedule.mode_in_words, :class => 'radio'
  %hr/
  %br
  .field
    = f.label :welcome_message, _("Verboice Configuration")
    %p This is the authentication that connect from remindem to verboice
    .w60
      = f.label :email, _("Email"), :class => "required"
      = f.email_field :email
  .field
    .w60
      = f.label "Password", :class => "required"
      %input{:type => 'password', :id => 'password' }
  
  = f.password_field :token, :style => 'display:none;'

  .actions
    %button.white{:type => "button", :onclick => "authenticate_verboice()"} Authenticate
  %br
  .field.w60
    = f.label :project_id, _("Project"), :class => "required"
    = f.select :project_id, options_for_select(["Select verboice project"]), {},{ :onclick => 'changeProject(this)' }
  .field.w60
    = f.label :call_flow_id, _("Call Flow"), :class => "required"
    = f.select :call_flow_id, options_for_select(["Select verboice call flow"])
  .field.w60
    = f.label :channel_id, _("Channel"), :class => "required"
    = f.select :channel_id, options_for_select(["Select verboice channel"])
  = f.text_field "hiddenId", :value => @schedule.id, :style => 'display:none;', :id => 'tmpId', :name => 'tmpId'
  = f.text_field "hiddenProject", :value => @schedule.project_id, :style => 'display:none;', :id => 'tmpProjectId', :name => 'tmpProjectId'
  = f.text_field "hiddenProject", :value => @schedule.call_flow_id, :style => 'display:none;', :id => 'tmpCallFlowId', :name => 'tmpCallFlowId'
  = f.text_field "hiddenChannel", :value => @schedule.channel_id, :style => 'display:none;', :id => 'tmpChannelId', :name => 'tmpChannelId'

  .actions
    %button.white{:type => "submit"} Save

