- content_for :head do
  :javascript
    $(function() {
      connectVerboice();
    })
= render "shared/schedule_tabs_and_title", :schedule => @schedule.schedule
.tabsline
  %h2 Properties
  %p Below you can configure this Reminder properties
  = render 'form'

