- content_for :head do
  = javascript_include_tag 'schedules'
= form_for @schedule, :validate => true do |f|
  = errors_for @schedule, :as => :reminder
  .field.w60
    = f.label :titleapp, _("Title")
    = f.text_field :title, :class => "causesPendingSaveNoticeOnChange"
  .field.w60
    = f.label :keyword, _("Keyword")
    %p Users will register with this keyword
    = f.text_field :keyword, :class => "causesPendingSaveNoticeOnChange"
  .field
    = f.label :welcome_message, _("Welcome message")
    %p This is the message users will get after they successfully registered
    .w60
      = f.text_area :welcome_message,                          |
        :rows => 3,                                            |
        :class => "causesPendingSaveNoticeOnChange ux-wajbar", |
        :placeholder => _('Write your welcome message here'),  |
        :maxlength => 160                                      |
  .field
    = f.label :timescale, _("Timescale")
    %p Choose timescale reference to use
    .ux-dropdown.w20.inline
      = f.select :timescale, Schedule.time_scale_options, {}, :class => "causesPendingSaveNoticeOnChange"
  .field
    %label Mode
    %p
      = _("Choose whether you want to set up a timeline for your messages or send them randomly")
      = _("(Only available if there are no subscribers)") unless @schedule.subscribers.empty?
    = f.radio_button :type,                               |
      "FixedSchedule",                                    |
      :id => "fixed_schedule_option",                     |
      :class => "causesPendingSaveNoticeOnChange styled", |
      :disabled => !@schedule.subscribers.empty?          |

    = f.label :type, FixedSchedule.mode_in_words, :class => 'radio'
    %br/
    = f.radio_button :type,                               |
      "RandomSchedule",                                   |
      :id => "random_schedule_option",                    |
      :class => "causesPendingSaveNoticeOnChange styled", |
      :disabled => !@schedule.subscribers.empty?,         |
      'data-message' => _("Random Once")                  |
    = f.label :type, RandomSchedule.mode_in_words, :class => 'radio'
  %hr/
  %h2 Messages
  %p Write your reminder's messages
  %ul.vertical
    = f.fields_for :messages, :validate => false do |message_form|
      = render "message_fields", :f => message_form
    %li.fields
      .box.grey.w60.reminderMessageBox
        = link_to_add_fields _("Add message"), f, :messages, :class => "add_fields causesPendingSaveNoticeOnClick"
        %button.cadd.right{:onclick => "$('.add_fields', $(this).closest('.box')).click();", :type => "button"}
  %hr/
  .actions
    %button.white{:type => "submit"} Save
    = link_to _('Cancel'), :back
