%h1= schedule.title
%ul.tabs.top
  - if schedule.verboice_schedule.nil?
    %li{:class => ("active" if (params[:controller] == "schedules" && params[:action] == "show"))}
      = link_to _("Overview"), schedule_path(schedule.id)
    %li{:class => ("active" if params[:controller] == "logs")}
      = link_to _("Logs"), schedule_logs_path(schedule.id)
    %li{:class => ("active" if(params[:controller] == "schedules" && (params[:action] == "edit" || params[:action] == "update")))}
      = link_to _("Settings"), edit_schedule_path(schedule.id)
    %li{:class => ("active" if params[:controller] == "subscribers")}
      = link_to _("Subscribers"), schedule_subscribers_path(schedule.id)
  - else
    %li{:class => ("active" if (params[:controller] == "verboice_schedules" && params[:action] == "show"))}
      = link_to _("Overview"), verboice_schedule_path(schedule.verboice_schedule_id)
    %li{:class => ("active" if params[:controller] == "logs")}
      = link_to _("Logs"), schedule_logs_path(schedule.id)
    %li{:class => ("active" if(params[:controller] == "verboice_schedules" && (params[:action] == "edit" || params[:action] == "update")))}
      = link_to _("Settings"), edit_verboice_schedule_path(schedule.verboice_schedule_id)
    %li{:class => ("active" if params[:controller] == "subscribers")}
      = link_to _("Subscribers"), schedule_subscribers_path(schedule.id)
