%h1= schedule.title
%ul.tabs.top
  %li{:class => ("active" if (params[:controller] == "verboice_schedules" && params[:action] == "show"))}
    = link_to _("Overview"), verboice_schedule_path(schedule.id)
  %li{:class => ("active" if params[:controller] == "logs")}
    = link_to _("Logs"), schedule_logs_path(schedule.schedule.id)
  %li{:class => ("active" if(params[:controller] == "verboice_schedules" && (params[:action] == "edit" || params[:action] == "update")))}
    = link_to _("Settings"), edit_verboice_schedule_path(schedule.id)
  %li{:class => ("active" if params[:controller] == "subscribers")}
    = link_to _("Subscribers"), schedule_subscribers_path(schedule.schedule.id)
